.container {
    font-family:'Jetbrains mono';
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 auto;
    width: 360px;
}

.pizduk h1 {
    font-size: 16px
}

.img {
    margin-bottom: 2rem;
    border-radius: 20px;    
}

.smykdoggers {
	display: flex;
	justify-content: center;
}

.nav-link a, .link {
    font-size: 16px;
    font-weight: bold;
	display: inline-block;
	vertical-align: top;
	color:rgb(134, 0, 0);
	text-decoration: none;
	transition: color .15s linear;
    margin-bottom: 1rem;
}

.nav-link a:hover, .link:hover {
    font-size: 16px;
    font-weight: bold;
	color:#977d7d;
}